*
!*/
!.gitignore
!/**/.gitignore


!Dockerfile
!.gitlab-ci.yml
!.gitmodules
!README.md
!requirements.txt

!/src/**/*.py
!/data/.gitignore
!/deployment/**
!/scripts/**
!/commonutils/**
!/src/notebooks/**/*.ipynb
/src/scripts/test.py
test.py